.div1 {
    background-color:white;
    height: 900px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front_card {
    position: relative;
    right: 340px;
    bottom: 160px
}

.back_card {
    position: relative;
    right: 700px;
    top: 130px;
}

.fortext {
    font-size: 35px;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    /* font-weight: 300; */
    /* background-color: aqua; */
    height: 50px;
    width: 400px;
    position: absolute;
    bottom: 225px;
    right: 135%;
    transform: translate(-50%, -50%);
}

.div2 {
    position: relative;
}

.first_circle {
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position:absolute;
    bottom:335px;
    right: 1160px;
}

.second_circle {
    border: 1px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position:absolute;
    bottom:349px;
    right: 1130px;
}